@import "tailwindcss";

.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   background: 
      radial-gradient(farthest-side, #474bff 94%, transparent) top / 9px 9px no-repeat,
      conic-gradient(transparent 30%, #474bff);
   -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 9px), black 0);
   mask: radial-gradient(farthest-side, transparent calc(100% - 9px), black 0);
   animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-zp9dbg {
   to {
      transform: rotate(1turn);
   }
}